In [1]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
import pandas as pd
from selenium.webdriver.common.action_chains import ActionChains
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.common.by import By
from selenium.common.exceptions import NoSuchElementException
from selenium.common.exceptions import NoSuchWindowException
import time
from selenium.webdriver.support.ui import Select
from selenium.webdriver.support import expected_conditions as EC

## 1. Most viewed vides on youtube

In [22]:
link_1 = "https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos"

In [23]:
driver = webdriver.Chrome('chromedriver')
driver.get(link_1)

In [26]:
try:
    page_1 = driver.find_elements_by_xpath("//table[@class = 'wikitable sortable jquery-tablesorter']/tbody/tr/td")
except:
    driver = webdriver.Chrome('chromedriver')
    driver.get(link_1)
    time.sleep(5)
    page_1 = driver.find_elements_by_xpath("//table[@class = 'wikitable sortable jquery-tablesorter']/tbody/tr/td")
table = [item.text for item in page_1]

In [32]:
rank = []
name = []
artist = []
upload_date = []
views = []
i = 0
while i < len(table)-2:
    rank.append(table[i])
    name.append(table[i+1])
    artist.append(table[i+2])
    views.append(table[i+3])
    upload_date.append(table[i+4])
    i = i + 6

In [39]:
dict_1 = {"rank":rank, "name":name, "artist":artist, "views(billion)":views, "upload_date":upload_date}
df_1 = pd.DataFrame(dict_1)
df_1.head()

,rank,name,artist,views(billion),upload_date
0,1.,"""Baby Shark Dance""[23]",Pinkfong Baby Shark - Kids' Songs & Stories,9.58,"June 17, 2016"
1,2.,"""Despacito""[25]",Luis Fonsi,7.61,"January 12, 2017"
2,3.,"""Johny Johny Yes Papa""[26]",LooLoo Kids,5.85,"October 8, 2016"
3,4.,"""Shape of You""[27]",Ed Sheeran,5.51,"January 30, 2017"
4,5.,"""See You Again""[28]",Wiz Khalifa,5.31,"April 6, 2015"

## 2. team india international fixtures

In [25]:
link_2 = "https://www.bcci.tv/"
driver = webdriver.Chrome('chromedriver')
try:
    driver.get(link_2)
    time.sleep(5)
except NoSuchWindowException:
    driver = webdriver.Chrome('chromedriver')
    driver.get(link_2)
    time.sleep(5)

driver.find_element_by_xpath("//li[@class = 'footer-navigation__item'][2]/ul/li[1]").click()
time.sleep(5)

In [26]:
driver.find_element_by_xpath("//button[@class = 'load-more-button u-center js-show-more-button js-loader']").click()
time.sleep(5)

In [27]:
page_2 = driver.find_elements_by_xpath("//div[@class = 'js-list']/a")

In [30]:
links2 = [item.get_attribute("href") for item in page_2]
table_2 = [item.text.split("\n") for item in page_2]

In [31]:
series = []
match_title = []
date = []
place = []
time_ = []
link = []

for match in table_2:
    series.append(match[-8])
    match_title.append(match[-6])
    date.append(match[1]+" "+match[2])
    place.append(match[-5])

In [35]:
time_ = []
for i in range(len(series)):
    driver.get(links2[i])
    time.sleep(5)
    t = driver.find_element_by_xpath("//span[@class='mc-header-scorebox__ist-time']").text
    time_.append(t)

In [36]:
dict_2 = {"series":series, "date":date, "place":place, "match_title":match_title, "time":time_}
df_2 = pd.DataFrame(dict_2)
df_2.head()

,series,date,place,match_title,time
0,T20I,08 NOVEMBER,"Dubai International Stadium, Dubai",Match 42,19:30 IST
1,T20I,17 NOVEMBER,"Sawai Mansingh Stadium, Jaipur",1st T20I,19:00 IST
2,T20I,19 NOVEMBER,"JSCA International Stadium Complex, Ranchi",2nd T20I,19:00 IST
3,T20I,21 NOVEMBER,"Eden Gardens, Kolkata",3rd T20I,19:00 IST
4,TEST,25 NOVEMBER,"Green Park, Kanpur",1st Test,09:30 IST

## 3. exceptions handling

In [25]:
link_3 = "https://www.guru99.com/"
driver = webdriver.Chrome('chromedriver')
try:
    driver.get(link_3)
    time.sleep(5)
except NoSuchWindowException:
    driver = webdriver.Chrome('chromedriver')
    driver.get(link_3)
    time.sleep(5)

try:
    driver.find_element_by_xpath("//ul[@class = 'menu1']/li/a[@title = 'Selenium']").click()
    time.sleep(5)
except:
    time.sleep(5)
    driver.find_element_by_xpath("//ul[@class = 'menu1']/li/a[@title = 'Selenium']").click()
    time.sleep(5)
try:    
    driver.find_element_by_xpath("//td[@class = 'responsivetable']/a[@title = 'Selenium Exception Handling (Common Exceptions List)']").click()
    time.sleep(5)
except:
    time.sleep(5)
    driver.find_element_by_xpath("//td[@class = 'responsivetable']/a[@title = 'Selenium Exception Handling (Common Exceptions List)']").click()
    time.sleep(5)

In [26]:
page_3 = driver.find_elements_by_xpath("//table[@class = 'table table-striped']/tbody/tr/td")
table_3 = [item.text for item in page_3]

In [27]:
exception = []
description = []
i = 0
while i<len(table_3):
    exception.append(table_3[i])
    description.append(table_3[i+1])
    i = i+2

In [28]:
dict_3 = {"exception": exception, "description": description}
df_3 = pd.DataFrame(dict_3)
df_3.head()

,exception,description
0,ElementNotVisibleException,This type of Selenium exception occurs when an...
1,ElementNotSelectableException,This Selenium exception occurs when an element...
2,NoSuchElementException,This Exception occurs if an element could not ...
3,NoSuchFrameException,This Exception occurs if the frame target to b...
4,NoAlertPresentException,This Exception occurs when you switch to no pr...

## 4. State-wise GDP of India

In [ ]:
link_4 = "http://statisticstimes.com/"
link_4_ = "https://www.statisticstimes.com/economy/india/indian-states-gdp-per-capita.php"
#driver = webdriver.Chrome('chromedriver')
try:
    driver.get(link_4)
    time.sleep(5)
except NoSuchWindowException:
    driver = webdriver.Chrome('chromedriver')
    driver.get(link_4)
    time.sleep(5)

In [41]:
link_4_ = "https://www.statisticstimes.com/economy/india/indian-states-gdp.php"
driver = webdriver.Chrome('chromedriver')
driver.get(link_4_)

In [42]:
page_4 = driver.find_elements_by_xpath("//div[@class = 'fwidth']/div[@itemprop = 'text']/div/table/tbody/tr")

In [50]:
rank = []
state = []
GSDP18_19 =[]
GSDP19_20 = []
share18_19 = []
GDP = []
#table_4 = [item.text.split() for item in page_4]
for item in table_4:
    rank.append(item[0])
    state.append(item[1:3])
    GSDP19_20.append(item[-6])
    GSDP18_19.append(item[-5])
    share18_19.append(item[-4])
    GDP.append(item[-3])

In [51]:
dict_4 = {"rank":rank, "state":state, "GSDP19_20":GSDP19_20, "GSDP18_19":GSDP18_19, "GDP":GDP, "share18_19":share18_19}
df_4 = pd.DataFrame(dict_4)
df_4.head()

  rank                   state  GSDP19_20  GSDP18_19      GDP share18_19
0    1        [Maharashtra, -]          -  2,632,792  399.921     13.94%
1    2           [Tamil, Nadu]  1,845,853  1,630,208  247.629      8.63%
2    3        [Uttar, Pradesh]  1,687,818  1,584,764  240.726      8.39%
3    4            [Gujarat, -]          -  1,502,899  228.290      7.96%
4    5  [Karnataka, 1,631,977]  1,631,977  1,493,127  226.806      7.91%

going through code and filtering the text for state column is remaining

## 5. github repositories

In [2]:
link_5 = "https://github.com/"
link_5_ = "https://github.com/trending"

driver = webdriver.Chrome('chromedriver')
driver.get(link_5_)

In [3]:
a5 = driver.find_elements_by_xpath("//h1[@class = 'h3 lh-condensed']/a")
links5 = [item.get_attribute("href") for item in a5]
title = [item.text for item in a5]

In [7]:
lang = driver.find_elements_by_xpath("//article[@class = 'Box-row']/div[2]/span[1]")
language = [item.text for item in lang]

In [ ]:
language_ = []
for i in range(len(language)):
    if language[i] == "Built by":
        language_.append("-")
    else:
        language_.append(language[i])

In [16]:
description5 = []
contributor = []
for link in links5:
    driver.get(link)
    time.sleep(5)
    try:
        desc5 = driver.find_element_by_xpath("//p[@class = 'f4 mt-3']").text
    except NoSuchElementException:
        desc5 = "No description aavailable"
    try:
        c = driver.find_elements_by_xpath("//a[@class= 'Link--primary no-underline']/span[@class = 'Counter']")
        if c == '':
            c = 1
        count = [item.text for item in c][-1]
    except:
        count = "1"
    description5.append(desc5)
    contributor.append(count)

In [21]:
dict_5 = {"title": title, "description": description5, "contributors": contributor, "Language used": language_}
df_5 = pd.DataFrame(dict_5)
df_5.head()

,title,description,contributors,Language used
0,DrKLO / Telegram,Telegram for Android source,16,Java
1,commaai / openpilot,openpilot is an open source driver assistance ...,254,Python
2,flutter / flutter,Flutter makes it easy and fast to build beauti...,933,Dart
3,pi-hole / pi-hole,A black hole for Internet advertisements,196,Shell
4,coolsnowwolf / lede,Lean's OpenWrt source,272,C

## 6. top 100 songs ob billboard

In [2]:
link_6 = "https://www.billboard.com/"
link_6_ = "https://www.billboard.com/charts/hot-100"
driver = webdriver.Chrome("chromedriver")
driver.get(link_6_)

In [3]:
page_6 = driver.find_elements_by_xpath("//ol[@class= 'chart-list__elements']/li[@class = 'chart-list__element display--flex']")

In [9]:
table_6 = [item.text.split("\n") for item in page_6]

In [11]:
song_name = []
artist = []
lwr = []
peak_rank = []
wob = []
for item in table_6:
    song_name.append(item[2])
    artist.append(item[3])
    lwr.append(item[-3])
    peak_rank.append(item[-2])
    wob.append(item[-1])

In [14]:
dict_6 = {"song_name" : song_name, "artist":artist, "peak_rank" : peak_rank, "weaks_on_board" : wob, "last_weak_rank":lwr}
df_6 = pd.DataFrame(dict_6)
df_6.head()

,song_name,artist,peak_rank,weaks_on_board,last_weak_rank
0,Easy On Me,Adele,1,3,1
1,Stay,The Kid LAROI & Justin Bieber,1,16,2
2,Industry Baby,Lil Nas X & Jack Harlow,1,14,3
3,Fancy Like,Walker Hayes,3,19,4
4,Bad Habits,Ed Sheeran,2,18,5

## 7. Data science recruiters

In [16]:
link_7 = "https://www.naukri.com/data-science-recruiters"
driver.get(link_7)

In [17]:
page_7 = driver.find_elements_by_xpath("//div[@class= 'recInfo']")

In [20]:
table_7 = [item.text.split("\n") for item in page_7]

In [22]:
name = []
designation = []
company = []
location = []
skills = []
for recruiter in table_7:
    name.append(recruiter[0])
    designation.append(recruiter[1])
    company.append(recruiter[2])
    location.append(recruiter[3])
    skills.append(recruiter[5])

In [23]:
dict_7 = {"name": name, "designation":designation, "company":company, "location":location, "skills_I_hire_for":skills}
df_7 = pd.DataFrame(dict_7)
df_7.head()

,name,designation,company,location,skills_I_hire_for
0,Aakash Harit,HR Manager,Data Science Network,Delhi,"Classic ASP Developer, Internet Marketing Prof..."
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,Hyderabad / Secunderabad,".Net, Java, Data Science, Linux Administration..."
2,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,Pune,"Data Science, Artificial Intelligence, Machine..."
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,Ahmedabad,"Mean Stack, javascript, angularjs, mongodb, We..."
4,subhas patel,Founder CEO,LibraryXProject,UK - (london),"Hadoop, Spark, Digital Strategy, Data Architec..."

## 8. Highest selling novel

In [24]:
link_8 = "https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/"
driver.get(link_8)
time.sleep(5)

In [ ]:
page_8 = driver.find_elements_by_xpath("//div[@class= 'embed block']/table/tbody/tr/td")

In [ ]:
table_8 = [item.text for item in page_8]

In [34]:
name = []
author = []
volume = []
pub = []
genre = []
i = 1
while i < len(table_8):
    name.append(table_8[i])
    author.append(table_8[i+1])
    volume.append(table_8[i+2])
    pub.append(table_8[i+3])
    genre.append(table_8[i+4])
    i = i + 6

In [36]:
dict_8 = {"name": name, "author": author, "volume":volume, "publisher":pub, "genre": genre}
df_8 = pd.DataFrame(dict_8)
df_8.head()

,name,author,volume,publisher,genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas

## 9. Most watched tv series

In [98]:
link_9 = "https://www.imdb.com/list/ls095964455/"
driver = webdriver.Chrome("chromedriver")
driver.get(link_9)
time.sleep(5)

In [99]:
page_9 = driver.find_elements_by_xpath("//div[@class= 'lister-list']/div")

In [100]:
name = []
year_span = []
genre = []
runtime = []
ratings = []
votes = []

table_9 = [item.text.split("\n") for item in page_9]
for series in table_9:
    try:
        name.append(series[0].split("(")[0][3:].strip())
    except:
        name.append("-")
    try:
        year_span.append(series[0].split('(')[1][:-1])
    except:
        year_span.append("-")
    try:
        genre.append(series[1].split("|")[-1].strip())
    except:
        genre.append("-")
    try:
        runtime.append(series[1].split("|")[1].strip())
    except:
        runtime.append("-")
    try:
        ratings.append(series[2])
    except:
        ratings.append("-")
    try:
        votes.append(series[-1].split(":")[-1].strip())
    except:
        votes.append("-")

In [75]:
dict_9 = {"name": name,"year_span": year_span, "genre":genre, "runtime":runtime, "ratings" :ratings, "votes":votes}
df_9 = pd.DataFrame(dict_9)
df_9.head()

,name,year_span,genre,runtime,ratings,votes
0,Game of Thrones,2011–2019,"Action, Adventure, Drama",57 min,9.2,"1,895,644"
1,Stranger Things,2016–,"Drama, Fantasy, Horror",51 min,8.7,"926,921"
2,The Walking Dead,2010–2022,"Drama, Horror, Thriller",44 min,8.2,"910,646"
3,13 Reasons Why,2017–2020,"Drama, Mystery, Thriller",60 min,7.5,"272,499"
4,The 100,2014–2020,"Drama, Mystery, Sci-Fi",43 min,7.6,"232,918"

## 10. UCI ML repositories

In [2]:
link_10 = "https://archive.ics.uci.edu/"
link_10_ = "https://archive.ics.uci.edu/ml/datasets.php"
driver = webdriver.Chrome("chromedriver")
driver.get(link_10_)
time.sleep(5)

In [3]:
page_10 = driver.find_elements_by_xpath("//table[@border = '1']/tbody/tr/td")

In [4]:
table_10 = [item.text for item in page_10]

In [14]:
name = []
d_type = []
task = []
attribute = []
instances = []
no_attributes = []
year = []

i = 0
while i < len(table_10):
    try:
        name.append(table_10[i+0].strip())
    except:
        name.append("-")
    try:
        d_type.append(table_10[i+1])
    except:
        d_type.append("-")
    try:
        task.append(table_10[i+2])
    except:
        task.append("-")
    try:
        attribute.append(table_10[i+3])
    except:
        attribute.append("-")
    try:
        instances.append(table_10[i+4])
    except:
        instances.append("-")
    try:
        no_attributes.append(table_10[i+5])
    except:
        no_attributes.append("-")
    try:
        year.append(table_10[i+6])
    except:
        year.append("-")
    i = i+7

In [18]:
dict_10 = {"name":name, "d_type": d_type, "task":task, "attribute" :attribute, "instances": instances, 
          "no_attributes": no_attributes, "year": year}
df_10 = pd.DataFrame(dict_10)
df_10 = df_10.iloc[1: , :]
df_10.head()

,name,d_type,task,attribute,instances,no_attributes,year
1,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
2,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
3,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
4,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
5,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998