In [1]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
import pandas as pd
from selenium.webdriver.common.action_chains import ActionChains

#driver = webdriver.Chrome('chromedriver')

### 1. Fetching data of 10 jobs of data analyst in Bengaluru

In [18]:
#initialize the chrome browser and going to website
naukri_url = "https://www.naukri.com/"

driver = webdriver.Chrome('chromedriver')
driver.get(naukri_url)

In [19]:
# sending the data to search fields
search_job = driver.find_element_by_id("qsb-keyword-sugg")
search_job.send_keys("Data Analyst")
search_job = driver.find_element_by_xpath("//input[@id='qsb-location-sugg']")
search_job.send_keys("Bangalore")

search_btn = driver.find_element_by_xpath("//div[@class='search-btn']/button")
search_btn.click()

In [20]:
#fetching the job titles
job_title = driver.find_elements_by_xpath("//a[@class = 'title fw500 ellipsis']")
job_title = [job.text for job in job_title]
job_title = job_title[:10]
len(job_title)

10

In [21]:
# fetching the job location 
job_loc = driver.find_elements_by_xpath("//li[@class = 'fleft grey-text br2 placeHolderLi location']/span")
job_loc = [job.text.strip() for job in job_loc]
job_loc = job_loc[:10]
#job_loc

In [22]:
# fetching the name of the company
company = driver.find_elements_by_xpath("//div[@class='mt-7 companyInfo subheading lh16']/a[@class = 'subTitle ellipsis fleft']")
company = [com.text.strip() for com in company]
company = company[:10]
#company

In [23]:
# fetching the experience required for the job
exp_req = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span")
exp_req = [exp.text.strip() for exp in exp_req]
exp_req = exp_req[:10]
#exp_req

In [24]:
# creating the data frame
dict = {"job title": job_title, "location":job_loc, "company":company, "exp. required":exp_req}
df = pd.DataFrame(dict)

df.head()

,job title,location,company,exp. required
0,Data Analyst / Business Analyst (Demand Planning),Bangalore/Bengaluru,Flipkart,1-4 Yrs
1,Data Analyst,Bangalore/Bengaluru,Applied Materials,0-3 Yrs
2,Business Cum Data Analyst,,Virtusa Consulting Services Pvt Ltd,2-4 Yrs
3,Senior Data Analyst II,,Flipkart,2-4 Yrs
4,Senior Data Analyst,,Flipkart,3-7 Yrs

### 2. Fetching data of 10 jobs of data scientist

In [25]:
#initialize the chrome browser and going to website
naukri_url = "https://www.naukri.com/"

#driver = webdriver.Chrome('chromedriver')
driver.get(naukri_url)

In [26]:
# sending the data to search fields
search_job = driver.find_element_by_id("qsb-keyword-sugg")
search_job.send_keys("Data Scientist")

search_btn = driver.find_element_by_xpath("//div[@class='search-btn']/button")
search_btn.click()

In [27]:
#fetching the job titles
job_title = driver.find_elements_by_xpath("//a[@class = 'title fw500 ellipsis']")
job_title = [job.text for job in job_title]
job_title = job_title[:10]
len(job_title)

10

In [28]:
# fetching the job location 
job_loc = driver.find_elements_by_xpath("//li[@class = 'fleft grey-text br2 placeHolderLi location']/span")
job_loc = [job.text.strip() for job in job_loc]
job_loc = job_loc[:10]
#job_loc

In [29]:
# fetching the name of the company
company = driver.find_elements_by_xpath("//div[@class='mt-7 companyInfo subheading lh16']/a[@class = 'subTitle ellipsis fleft']")
company = [com.text.strip() for com in company]
company = company[:10]
#company

In [30]:
# fetching the experience required for the job
exp_req = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span")
exp_req = [exp.text.strip() for exp in exp_req]
exp_req = exp_req[:10]
#exp_req

In [31]:
# creating the data frame
dict = {"job title": job_title, "location":job_loc, "company":company, "exp. required":exp_req}
df = pd.DataFrame(dict)

df.head()

,job title,location,company,exp. required
0,Data Science - Machine Learning Engineer,Ahmedabad(Bodakdev),Juriscape Legal Research Pvt. Ltd,5-8 Yrs
1,Data Scientist/Quantitative Analyst,(WFH during Covid),Antier Solutions,3-5 Yrs
2,Data Scientist: Advanced Analytics,Chandigarh,IBM India Pvt. Limited,5-10 Yrs
3,Digital Enterprise Architect (Data Scientist),Bangalore/Bengaluru,Mphasis Limited,10-13 Yrs
4,Co-Founder & Principal Data Scientist/Senior S...,Bangalore/Bengaluru,Benovymed Healthcare,2-7 Yrs

### 3. Fetching data of 10 jobs of data scientist in by applying Delhi/NCR and 3-6 lakh filter

In [9]:
#initialize the chrome browser and going to website
naukri_url = "https://www.naukri.com/"

driver = webdriver.Chrome('chromedriver')
driver.get(naukri_url)

In [10]:
# sending the data to search fields
search_job = driver.find_element_by_id("qsb-keyword-sugg")
search_job.send_keys("Data Scientist")

search_btn = driver.find_element_by_xpath("//div[@class='search-btn']/button")
search_btn.click()

In [11]:
# applying the filter for Delhi/NCR
chk_btn = driver.find_element_by_xpath("//div[@class = 'mt-8 chckBoxCont'][3]")
chk_btn.click()

In [12]:
# applying the filter for salary range 3-6 lakhs
chk_btn = driver.find_element_by_xpath("//div[@data-filter-id='salaryRange']/div[2]")
chk_btn.click()

In [13]:
#fetching the job titles
job_title = driver.find_elements_by_xpath("//a[@class = 'title fw500 ellipsis']")
job_title = [job.text for job in job_title]
job_title = job_title[:10]
len(job_title)

10

In [14]:
# fetching the job location 
job_loc = driver.find_elements_by_xpath("//li[@class = 'fleft grey-text br2 placeHolderLi location']/span")
job_loc = [job.text.strip() for job in job_loc]
job_loc = job_loc[:10]
#job_loc

In [15]:
# fetching the name of the company
company = driver.find_elements_by_xpath("//div[@class='mt-7 companyInfo subheading lh16']/a[@class = 'subTitle ellipsis fleft']")
company = [com.text.strip() for com in company]
company = company[:10]
#company

In [16]:
# fetching the experience required for the job
exp_req = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span")
exp_req = [exp.text.strip() for exp in exp_req]
exp_req = exp_req[:10]
#exp_req

In [17]:
# creating the data frame
dict = {"job title": job_title, "location":job_loc, "company":company, "exp. required":exp_req}
df = pd.DataFrame(dict)

df.head()

,job title,location,company,exp. required
0,Data Scientist I/II/III,Gurgaon/Gurugram,OLX India Pvt Ltd,3-6 Yrs
1,Associate Data Scientist,Noida,Optum Global Solutions (India) Private Limited,2-7 Yrs
2,Job Opportunity || Data Scientist || HCL Techn...,Delhi / NCR,HCL Technologies,4-7 Yrs
3,Data Scientist,Gurgaon/Gurugram,Milliman India Pvt Ltd,2-5 Yrs
4,Academic Counsellor - Data Scientist,"Gurgaon/Gurugram, Bangalore/Bengaluru",GreatLearning,1-4 Yrs

### 3. fetching data grom glassdoor data scientist jobs

In [2]:
# starting the chrome browser 
glassdoor = " https://www.glassdoor.co.in/index.htm"
driver = webdriver.Chrome('chromedriver')
driver.get(glassdoor)

In [3]:
# after logging in manually, entring data scientist and noida location in search field
search = driver.find_element_by_xpath("//input[@id = 'sc.keyword']")
search.send_keys("Data scientist")
search_loc = driver.find_element_by_xpath("//input[@id = 'sc.location']")
search_loc.send_keys("noida")

In [4]:
#clicking on search button
srch_btn = driver.find_element_by_xpath("//button[@class='gd-ui-button ml-std col-auto search__SearchStyles__newSearchButton css-1dqvyh7']") 
srch_btn.click()

In [5]:
#fetching the general data of job
data = driver.find_elements_by_xpath("//div[@class='d-flex flex-column pl-sm css-1buaf54 job-search-key-1mn3dn8 e1rrn5ka0']") 
data = [d.text.split("\n") for d in data]

In [6]:
# fetching the company name and days ago from data
company = []
days_ago = []
for job in data:
    company.append(job[0])
    days_ago.append(job[-1])

In [7]:
# fetching the rating of the company
rating = driver.find_elements_by_xpath("//div[@class='d-flex flex-column job-search-key-1pzmdmc e1rrn5ka1']")
rating = [rat.text for rat in rating]

In [8]:
# creating a dataframe
df = pd.DataFrame({"company":company, "days ago":days_ago, "rating":rating})
df.head()

                                  company days ago rating
0                            Pixel Vision       1d
1                      UnitedHealth Group       4d    3.7
2                           Optum - India      20d
3  AlgoScale Technologies Private Limited     30d+    4.0
4                                   Crowe      11d    3.8

### 5. scraping salaries data from glassdoor

In [9]:
glassdoor = "https://www.glassdoor.co.in/Salaries/index.htm"
driver = webdriver.Chrome('chromedriver')
driver.get(glassdoor)

In [10]:
# logging into the account manually and then entering data scientist and location noida
job_search = driver.find_element_by_xpath("//input[@class='keyword']")
job_search.send_keys("data scientist") 
job_loc = driver.find_element_by_xpath("//input[@class='loc']")
job_loc.clear() 
job_loc.send_keys("noida")

In [11]:
search_btn = driver.find_element_by_xpath("//button[@class='gd-btn-mkt']")
search_btn.click()

In [19]:
data = driver.find_elements_by_xpath("//div[@class='col px-xsm']")
data = [d.text.split("\n") for d in data]

In [25]:
company = []
avg_sal = []
max_sal = []
min_sal = []
salaries = []

for i in data:
    company.append(i[0])
    avg_sal.append(i[2])
    min_sal.append(i[4].split(":")[1].split('-')[0])
    max_sal.append(i[4].split(":")[1].split('-')[1])
    salaries.append(i[5].split(" ")[0])

In [26]:
df = pd.DataFrame({"company":company, "average salary":avg_sal, "max salary":max_sal, "min salary":min_sal, "salaries":salaries})
df.head()

                     company average salary max salary min salary salaries
0  Tata Consultancy Services      ₹6,31,184       ₹13L       ₹4L        25
1                        IBM      ₹9,08,246       ₹28L       ₹1L        20
2                  Accenture     ₹12,13,338       ₹23L       ₹6L        16
3         Ericsson-Worldwide      ₹x,xx,xxx       ₹xxL       ₹xL        15
4                  Delhivery     ₹xx,xx,xxx       ₹xCr       ₹xL        15

### 6. Scraping 100 sunglasses from flipkart

In [2]:
driver = webdriver.Chrome('chromedriver')

In [3]:
driver.get("https://www.flipkart.com/")

In [6]:
# searching the sunglasses in the search box
search_box = driver.find_element_by_xpath("//input[@class = '_3704LK']")
search_box.send_keys("sunglasses")


button = driver.find_element_by_xpath("//button[@class = 'L0Z3Pu']")
driver.implicitly_wait(10)
ActionChains(driver).move_to_element(button).click(button).perform()

In [7]:
brands = []
prices = []
discs = []
descs = []

# collecting the information from the first page
brand = driver.find_elements_by_xpath("//div[@class = '_2WkVRV']")
brand = [brand.text for brand in brand]
brands = brands + brand
    
desc = driver.find_elements_by_xpath("//a[@class = 'IRpwTa']")
desc = [desc.text for desc in desc]
descs = descs + desc
    
price = driver.find_elements_by_xpath("//div[@class='_30jeq3']")
price = [price.text for price in price]
prices = prices + price

disc = driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']/span")
disc = [disc.text.split(" ")[0] for disc in disc]
discs = discs + disc

In [8]:
# going to second page
driver.find_element_by_xpath("//a[@class='_1LKTO3']").click()
driver.implicitly_wait(10)

In [9]:
#getting data from second page
brand = driver.find_elements_by_xpath("//div[@class = '_2WkVRV']")
brand = [brand.text for brand in brand]
brands = brands + brand
    
desc = driver.find_elements_by_xpath("//a[@class = 'IRpwTa']")
desc = [desc.text for desc in desc]
descs = descs + desc
    
price = driver.find_elements_by_xpath("//div[@class='_30jeq3']")
price = [price.text for price in price]
prices = prices + price

disc = driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']/span")
disc = [disc.text.split(" ")[0] for disc in disc]
discs = discs + disc

In [10]:
# going to 3rd page
driver.find_element_by_xpath("//a[@class='_1LKTO3']").click()
driver.implicitly_wait(10)

In [11]:
# getting data from third page
brand = driver.find_elements_by_xpath("//div[@class = '_2WkVRV']")
brand = [brand.text for brand in brand]
brands = brands + brand
    
desc = driver.find_elements_by_xpath("//a[@class = 'IRpwTa']")
desc = [desc.text for desc in desc]
descs = descs + desc
    
price = driver.find_elements_by_xpath("//div[@class='_30jeq3']")
price = [price.text for price in price]
prices = prices + price

disc = driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']/span")
disc = [disc.text.split(" ")[0] for disc in disc]
discs = discs + disc

In [13]:
# defining the dataframe
dict = {"brand":brands[:99], "price":prices[:99], "discount":discs[:99], "description":descs[:99]}
df = pd.DataFrame(dict)
df.head()

,brand,price,discount,description
0,ROYAL SON,₹524,73%,UV Protection Retro Square Sunglasses (60)
1,Rich Club,₹299,62%,"UV Protection, Others Round Sunglasses (48)"
2,Fastrack,₹419,53%,UV Protection Wayfarer Sunglasses (Free Size)
3,Fastrack,₹377,58%,UV Protection Wayfarer Sunglasses (Free Size)
4,SHAAH COLLECTIONS,₹198,88%,"UV Protection, Polarized, Mirrored Rectangular..."

In [1]:
def abc():
    return 0

## 7. scraping iphone reviews from flipkart

In [2]:
iphone_rev = "https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-\
power-adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace"

In [5]:
driver = webdriver.Chrome('chromedriver')
driver.get(iphone_rev)

In [6]:
# going to page of all reviews
driver.find_element_by_xpath("//div[@class='_3UAT2v _16PBlm']").click()
driver.implicitly_wait(10)

In [7]:
#collecting ratings 
rating = driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
driver.implicitly_wait(10)
ratings = [rating.text for rating in rating]

In [9]:
#collecting summary
summary = driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
summary = [summary.text for summary in summary]

In [10]:
#collecting review 
rev = driver.find_elements_by_xpath("//div[@class='t-ZTKy']/div/div")
rev = [rev.text for rev in rev]

In [11]:
# creating dataframe 
dict = {"rating":ratings, "summary":summary, "review":rev}
df = pd.DataFrame(dict)
df.head()

,rating,summary,review
0,5,Brilliant,The Best Phone for the Money\n\nThe iPhone 11 ...
1,5,Simply awesome,Really satisfied with the Product I received.....
2,5,Perfect product!,Amazing phone with great cameras and better ba...
3,5,Best in the market!,Great iPhone very snappy experience as apple k...
4,5,Fabulous!,This is my first iOS phone. I am very happy wi...

## 8. scraping data for sneakers from flipkart

In [13]:
driver = webdriver.Chrome('chromedriver')
driver.get("https://www.flipkart.com/")

In [14]:
search_box = driver.find_element_by_xpath("//input[@class = '_3704LK']")
search_box.send_keys("sneakers")


button = driver.find_element_by_xpath("//button[@class = 'L0Z3Pu']")
driver.implicitly_wait(10)
ActionChains(driver).move_to_element(button).click(button).perform()

In [15]:
brands = []
prices = []
discs = []
descs = []


brand = driver.find_elements_by_xpath("//div[@class = '_2WkVRV']")
brand = [brand.text for brand in brand]
brands = brands + brand
    
desc = driver.find_elements_by_xpath("//a[@class = 'IRpwTa']")
desc = [desc.text for desc in desc]
descs = descs + desc
    
price = driver.find_elements_by_xpath("//div[@class='_30jeq3']")
price = [price.text for price in price]
prices = prices + price

disc = driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']/span")
disc = [disc.text.split(" ")[0] for disc in disc]
discs = discs + disc

In [16]:
driver.find_element_by_xpath("//nav[@class='yFHi8N']/a[2]").click()
#driver.find_element_by_xpath("//a[@class='_1LKTO3']").click()
driver.implicitly_wait(10)

In [17]:
brand = driver.find_elements_by_xpath("//div[@class = '_2WkVRV']")
brand = [brand.text for brand in brand]
brands = brands + brand
    
desc = driver.find_elements_by_xpath("//a[@class = 'IRpwTa']")
desc = [desc.text for desc in desc]
descs = descs + desc
    
price = driver.find_elements_by_xpath("//div[@class='_30jeq3']")
price = [price.text for price in price]
prices = prices + price

disc = driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']/span")
disc = [disc.text.split(" ")[0] for disc in disc]
discs = discs + disc

In [18]:
driver.find_element_by_xpath("//nav[@class='yFHi8N']/a[4]").click()
#driver.find_element_by_xpath("//a[@class='_1LKTO3']").click()
driver.implicitly_wait(10)

In [19]:
brand = driver.find_elements_by_xpath("//div[@class = '_2WkVRV']")
brand = [brand.text for brand in brand]
brands = brands + brand
    
desc = driver.find_elements_by_xpath("//a[@class = 'IRpwTa']")
desc = [desc.text for desc in desc]
descs = descs + desc
    
price = driver.find_elements_by_xpath("//div[@class='_30jeq3']")
price = [price.text for price in price]
prices = prices + price

disc = driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']/span")
disc = [disc.text.split(" ")[0] for disc in disc]
discs = discs + disc

In [20]:
dict = {"brand":brands[:99], "price":prices[:99], "discount":discs[:99], "description":descs[:99]}
df = pd.DataFrame(dict)
df.head()

      brand price discount                                        description
0     WROGN  ₹629      68%                                   Sneakers For Men
1  RapidBox  ₹640      35%      Modern Trendy Sneakers Shoes Sneakers For Men
2    BRUTON  ₹299      76%                                   Sneakers For Men
3  Magnolia  ₹369      63%  Combo Pack Of 4 Casual Shoes Loafer Shoes Snea...
4    BRUTON  ₹399      88%  Original Luxury Branded Fashionable Men's Casu...

## 9. scraping shoes data from myntra

In [2]:
shoes_link = " https://www.myntra.com/shoes"
driver = webdriver.Chrome('chromedriver')
driver.get(shoes_link)

In [3]:
#selecting the price Rs 6897 to Rs 13595
driver.find_element_by_xpath("//ul[@class='price-list']/li[2]").click()

In [4]:
# selecting the black color
driver.find_element_by_xpath("//div[@class='vertical-filters-filters']/ul/li[@class='colour-listItem']").click()

In [5]:
brand = []
short_description = [] 
price = []

In [6]:
shoes_brand = driver.find_elements_by_xpath("//div[@class = 'product-productMetaInfo']/h3")
shoes_brand = [shoe.text for shoe in shoes_brand] 
brand = brand + shoes_brand

In [7]:
short_desc =  driver.find_elements_by_xpath("//div[@class = 'product-productMetaInfo']/h4[1]")
short_desc = [desc.text for desc in short_desc] 
short_description = short_description + short_desc

In [8]:
shoe_price = driver.find_elements_by_xpath("//div[@class='product-price']")
shoe_price = [price.text.split('Rs.')[1].strip() for price in shoe_price]
price = price + shoe_price

In [9]:
driver.find_element_by_xpath("//li[@class='pagination-number']").click()

In [10]:
shoes_brand = driver.find_elements_by_xpath("//div[@class = 'product-productMetaInfo']/h3")
shoes_brand = [shoe.text for shoe in shoes_brand] 
brand = brand + shoes_brand

short_desc =  driver.find_elements_by_xpath("//div[@class = 'product-productMetaInfo']/h4[1]")
short_desc = [desc.text for desc in short_desc] 
short_description = short_description + short_desc 

shoe_price = driver.find_elements_by_xpath("//div[@class='product-price']")
shoe_price = [price.text.split('Rs.')[1].strip() for price in shoe_price]
price = price + shoe_price

In [11]:
dict = {"brand":brand, "short_description": short_description , "shoe_price": price}
df = pd.DataFrame(dict)
df.head()

  brand              short_description shoe_price
0  ALDO          Leather Solid Loafers      10499
1  ALDO              Men Driving Shoes      11199
2  Puma  Men Jamming 2.0 Running Shoes       7799
3  Puma     Men Velocity Nitro Running       8799
4  ALDO            Men Leather Loafers      11199

## 10. fetching data for laptops from Amazon

In [27]:
laptop_link = 'https://www.amazon.in/'
driver = webdriver.Chrome('chromedriver')
driver.get(laptop_link)

In [28]:
# searching laptop in search field
search_box = driver.find_element_by_xpath("//div[@class='nav-search-field ']/input")
search_box.send_keys("laptop")

In [29]:
# clicking on search button
driver.find_element_by_xpath("//div[@class='nav-search-submit nav-sprite']").click()

In [30]:
#filtering intel core i7 and i9 
driver.find_element_by_xpath("//li[@id='p_n_feature_thirteen_browse-bin/12598163031']/span/a/div").click()

In [31]:
driver.find_element_by_xpath("//li[@id='p_n_feature_thirteen_browse-bin/16757432031']/span/a/div").click()

In [50]:
# fetching the title
title = driver.find_elements_by_xpath("//div[@class='a-section a-spacing-none']/h2")
title = [t.text for t in title]
# getting the links of each product
link = driver.find_elements_by_xpath("//div[@class='a-section a-spacing-none']/h2/a") 
link = [lap.get_attribute("href") for lap in link]

In [ ]:
# fetching the price
price = driver.find_elements_by_xpath("//span[@class='a-price-whole']")
price = [p.text for p in price]

In [33]:
# fetching the rating
rating = driver.find_elements_by_xpath("//span[@class='a-icon-alt']")
rating = [r.text for r in rating]

In [76]:
# fetching the rating by itrating the each product link
from selenium.common.exceptions import NoSuchElementException
rating = []
for i in range(10):
    url = link[i]
    driver.get(url)
    try:
        rating.append(driver.find_element_by_xpath("//td[@class='a-size-base']").text.split('\n')[1][:3])
    except NoSuchElementException:
        rating.append("")

In [80]:
# creating the data frame
dict = {"title":title[:10], "price":price[:10], "rating":rating}
df = pd.DataFrame(dict)
df.head()

                                               title     price rating
0  Lenovo Legion 5 10th Gen Intel Core i7-10750H ...    83,490    4.0
1  HP Spectre x360 11th Gen Intel Core i7 13.3 in...  1,36,400    4.0
2  Life Digital Laptop 15.6-inch (39.62 cms) (Int...    24,990    3.3
3  Mi Notebook Horizon Edition 14 Intel Core i7-1...    53,990    4.2
4  Acer Nitro 5 11th Gen Intel Core i7-11800H 15....    89,990    3.9